# examples are provided via GitHub
prune examples

# installation related
exclude MANIFEST.in

# License & README
include README.md
include LICENSE.txt

# data
include kdotp_generator/MSG_linear_coir_data/*.npy
